.component{
    display: flex;
    flex-direction: column;
    align-items: center;

}
.count-dispay, .btn-reset {
    font-size: 18px;
    font-weight: bold;
    width: 158px;
    padding: 8px 0;
    border-radius: 2px;
    text-align: center;
    border: 1px solid  #444;
}
.count-dispay{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

button{
    cursor: pointer;
}

.btn-reset {
    border: none;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: 5px 2px 2px #444;
    color: #077572;
    font-weight: 700;

}

.clickButton{
    width: 75px;
    border: none;
    border-radius: 5px;
    padding: 10px;
    margin: 5px;
    background: #03b5af;
    box-shadow: 5px 2px 2px #444;
}